/* OLD
spring: #89c759
sommer: #f11308
autumn: #aca8ad
winter: #ffffff
*/

/*NEW
/*
spring: #89c759
sommer: #eb1777
sommer: #f11308
autumn: #aca8ad
winter: #ffffff
*/



body {
  background: #0f102d;
}
.menu_wrapper {
  position: relative;
  min-height: 500px;
  width: 100%;
  margin-top: 20px;
}
#Menu {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  overflow: visible;
  border-width: 10px;
  border-style: solid;
  border-color: #89c759 #f11308 #aca8ad #ffffff;
  -webkit-transition: all 1s ease-in-out 0.5s;
  transition: all 1s ease-in-out 0.5s;
  top: 48px;
  left: 50%;
  margin-left: -140px;
}
.round {
  width: 260px;
  height: 260px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  line-height: 190px;
  color: #fff;
  font-size: 110px;
  transition: all 0.3s ease-in-out;
}
.item {
  background: #151515;
  border-width: 10px;
  border-style: solid;
  width: 96px;
  height: 96px;
  line-height: 76px;
  border-radius: 50%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}
.item a:hover,
.item a:focus,
.item a:active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.item1 {
  top: -48px;
  left: 50%;
  margin-left: -48px;
  border-color: #89c759;
}
.item2 {
  right: -48px;
  top: 50%;
  margin-top: -48px;
  border-color: #f11308;
}
.item3 {
  bottom: -48px;
  left: 50%;
  margin-left: -48px;
  border-color: #aca8ad;
}
.item4 {
  left: -48px;
  top: 50%;
  margin-top: -48px;
  border-color: #ffffff;
}
.green {
  background: #89c759;
}
/*@keyframes RotateCV {
  0% {transform:rotate(0deg)}
  25% {transform:rotate(90deg)}
  50% {transform:rotate(180deg)}
  75% {transform:rotate(270deg)}
  100% {transform:rotate(360deg)}
}
@keyframes RotateCV {
  0% {transform:rotate(0deg)}
  25% {transform:rotate(-90deg)}
  50% {transform:rotate(-180deg)}
  75% {transform:rotate(-270deg)}
  100% {transform:rotate(-360deg)}
}*/
.pm_Zn {
  /*background:#89c759*/
}
.pm_Sm {
  /*background-color:#ffffff;*/
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.pm_Sm .item,
.pm_Sm .round {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.pm_Ch {
  /*background-color:#aca8ad;*/
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.pm_Ch .item,
.pm_Ch .round {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pm_Ot {
  /*background-color:#f11308;*/
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.pm_Ot .item,
.pm_Ot .round {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.item a {
  color: #fff;
  text-decoration: none;
  display: block;
  outline: none;
  width: auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
a.activeLink {
  color: #fff;
}
.round a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.Middle{
  font-size:0.2em;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
