body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	/*
	
	*/
}

.logo{
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@media only screen and (min-width: 980px) {
	.middleCol{
	 margin: 16px !important;
	}
  }

.middleCol{
	margin-bottom: 16px;
}  

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.mySlides {display:none;}

/* SLIDESHOW */
#gallery {
	position: relative;
	background: none;
	border: none;
}

#gallery figure {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-animation: wechseln 15s infinite;
	animation: wechseln 15s infinite;
}

#gallery figcaption {
	position: absolute;
	left: 1em;
	font-size: 2em;
	font-weight: bold;
	bottom: 0.5em;
	z-index: 2;
	color: white;
}

@keyframes wechseln {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes wechseln {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#gallery figure:nth-of-type(2) {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

#gallery figure:nth-of-type(1) {
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
}