body {
    font-family: 'PT Sans', sans-serif;
    color: #212333;
}

.mytop {
    z-index: 100;
    background-color: #fff;
}

.myNavArea {
    background-color: #212333;
    color: #fff;
    margin-top: 58px;
    width: 74%;
}

.uppertxt {
    text-transform: uppercase;
}

.imgtxt-bg {
    background-color: #212333;
    opacity: 0.5;
    text-transform: uppercase;
    color: white;
}

.cal {
    width: 40%;
    padding-bottom: 10px;
    padding-right: 10px;
}

.calMonth {
    background-color: #212333;
    color: #fff;
    text-align: center;
    padding: 2px 5px 2px 5px;
}

.figHeader {
    background-color: #212333;
    color: #fff;
    text-align: left;
    padding: 2px 5px 2px 5px;
    width: 60%;
    opacity: 0.8;
}

.calDay {
    background-color: #fff;
    color: #212333;
    text-align: center;
    font-weight: bold;
}


/****** image hover ******/

.image-hover * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.image-hover {
    position: relative;
    width: 450px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border: 10px solid #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3)
}

.image-hover a {
    text-decoration: none
}

.image-hover img {
    margin: -100px 0px 0px -100px
}


/*try */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0016 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px 1%;
    width: 100%;
    background: #000000;
    text-align: left;
}

figure.snip0016 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0016 img {
    max-width: 100%;
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip0016 #figcap1 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 5px;
    width: 100%;
    height: 100%;
}

figure.snip0016 #figcap2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 3em;
    width: 100%;
    height: 100%;
}

figure.snip0016 #figcap3 {
    position: absolute;
    bottom: -75%;
    right: 0;
    padding: 5px 5px;
    height: 100%;
}

figure.snip0016 #figcap2::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-left: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0016 h2,
figure.snip0016 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
}

figure.snip0016 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(30%, 0%, 0);
    transform: translate3d(30%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0016 h2 span {
    font-weight: 800;
}

figure.snip0016 p {
    font-weight: 200;
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0016 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

figure.snip0016:hover img {
    opacity: 0.3;
}

figure.snip0016:hover #figcap1 {
    display: none;
}

figure.snip0016:hover #figcap3 {
    display: none;
}

figure.snip0016:hover #figcap2 h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

figure.snip0016:hover #figcap2 p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0016:hover #figcap2::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#figcap1 {
    font-weight: bold;
    z-index: 2;
    color: #212333;
}

.fadeInOnTouch { opacity: 1}

@media (min-width: 600px) {
    .wrap {
      width: 50%;
      float: left;
    }
  }
  [class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
  }
  