html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Chango';
  font-size: 22px;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .responsiveLeft {
    float: none !important;
  }
  .responsiveRight {
    float: none !important;
  }
    .logoLeft, .logoRight {
    width:0px !important;
  }
}

@media only screen and (max-width: 980px) {
  .logoLeft, .logoRight {
    width:100%;
  }
}

.responsiveLeft {
  float: left;
}
.responsiveRight {
  float: right;
}
.logoLeft {

}
.logoRight {
}

.btn {
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}
